<nav class="profile-nav">
  <div>
    <a href="/user" class="profile-list">Account</a>
    <a href="/user/comments" class="profile-list">Comments</a>
  </div>
  <div class="profile-list log-out">
    <a href="/user/logout">Logout</a>
  </div>
</nav>