<nav class="nav-container">
  <div class="title-container">
    <img class="nav-logo" />
    <a href="/"><p class="title">Global Keebs</p></a>
  </div>

  <div class="listing-container">
    <a href="/keyboards"><p class="listings">Keyboards</p></a>
    <a href="/switches"<p class="listings">Switches</p></a>
    <a href="/keycaps"<p class="listings">Keycaps</p></a>
    <a href="/login"<p class="listings">Sign In</p></a>
  </div>
</nav>