<nav class="nav-container">
  <div class="title-container">
    <img class="nav-logo" />
    <a href="/"><p class="title">Global Keebs</p></a>
  </div>

  <div class="listing-container">
    <div class="listings">
      <a href="/Keyboards">
        <p class="nav-text">Keyboards</p>
        <i class="fa-sharp fa-solid fa-keyboard"></i>
      </a>
    </div>
    <div class="listings">
      <a href="/Switches">
        <p class="nav-text">Switches</p>
        <img class="nav-img" src="/imgs/switch2.svg"></img>
      </a>
    </div>
    <div class="listings">
      <a href="/Keycaps">
        <p class="nav-text">Keycaps</p>
        <img class="nav-img" src="/imgs/keycap2.svg"></img>
      </a>
    </div>
    <!-- <a href="/Switches"<p class="listings">Switches</p></a>
    <a href="/Keycaps"<p class="listings">Keycaps</p></a> -->
    <div class="listings login-fix">
      <a href="/user/login">
        <p class="nav-text">Sign In</p>
        <i class="fa-solid fa-user"></i>
      </a>
    </div>
  </div>
</nav>