<h1>Here are all listings</h1>

<% listings.forEach(listing => { %>
  <div class="listing-display-container">
    <a href="/listings/<%= listing.page_id %>">
      <h2 class="listings-title"><%= listing.title %></h2>
      <p class="listings-author">u/<%= listing.author %></p>
      <div>
        <p class="listings-locale"><%= listing.location %></p>
      </div>
    </a>
  </div>
<% }) %>