<div class="landing-container <% if(!user) { %>fade-in<% } %>">
  <div class="<% if(!user) { %>fade-in<% } %>" style="--order: 0">
    <p class="">Welcome to</p> 
    <p class=title>Global Keebs!</p>
  </div>
  <div class="spacer"></div>
  <div class="continue <% if(!user) { %>fade-in<% } %>" style="--order: 2">
    <p>Click to enter financial instability</p>
    <form action="/listings">
      <button type="submit" class="btn landing-btn">Continue</button>
    </form>
  </div>
</div>