  /* LATO */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MONTSERRAT ALTERNATES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: lato, sans-serif;
  font-size: 16px;
  --nav-bg-1: #efede3;
  --nav-brd-1: #d6ccc2;
  --nav-act-1: #d62828;
  --bg-lig-1: #eae7e0;
  --bg-lig-2: #f1f1f1;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--bg-lig-1),
    var(--bg-lig-2)
  );
  overflow: overlay;
}
/* 
body :not(.nav-container *) {
  margin: 0 20px;
} */

a {
  color: currentColor;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:hover {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background: rgb(214 40 40 / .4);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(214 40 40 / 1);
}

::-webkit-scrollbar-track {
  background: rgb(90 90 60 / .1);
}

::-webkit-scrollbar-corner {
 background: transparent;
}

.nav-container {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw; height: 8.5vh;
  background: var(--nav-bg-1);
  color: var(--nav-act-1);
  outline: 1.5vh solid var(--nav-brd-1);
  box-shadow: 0 16px 9px rgb(180 150 150 / .7);
  padding: 0 80px;
  margin-bottom: 1.5vh;
}

.title-container {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.title {
  font-family: 'montserrat alternates', sans-serif;
  font-size: 3.6em;
  font-weight: 600;
  letter-spacing: -.08rem;
  font-style: italic;
  margin-top: -6px;
}

.listing-container {
  display: flex;
  align-items: end;
  gap: 0.5vw;
  padding-bottom: 10px;
  padding-right: 50px;
}

.listings {
  display: flex;
  align-items: end;
  overflow: hidden;
  background: transparent;
  font-size: 1.3em;
  font-weight: 300;
  border-radius: 30px 30px 0 0;
  padding: 10px 1.5em;
  padding-bottom: 10px;
  margin-bottom: -10px;

  transition: all 120ms ease-in;
}

.listings:hover {
  background:var(--nav-brd-1);

  transition: all 60ms ease-in;
}

.nav-img {
  position: relative;
  width: 1.4em; height: 1.4em;  
  transform: translateY(25%);
}

.nav-text {
  display: inline;
  padding-right: 3px;
}

.error-container {
  position: relative;
  display: flex;
  align-items: center; justify-content: center;
  width: 100vw; height: 2.5em;
  background: #d62828;
  /* font-weight: 600; */
  color: #EEE;
  user-select: none;
  z-index: -1;

  animation-name: drop-down-message;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 1.2s;
}

.error-container:hover {
  cursor: pointer;
}

.error-container > p::after {
  content: 'X';
  font-size: 1.2em; font-weight: 300;
  position: absolute;
  margin-left: 8vw;
}

/* LISTINGS */
.listing-display-container {
  background: rgb(60 60 60 / .2);
  padding-bottom: 20px;
  margin-left: 40px;
}

@keyframes drop-down-message {
  from {transform: translateY(-3em);}
  to {transform: translateY(0);}
}

@media (min-width: 2560px) {
  :root {
    font-size: 24px;
  }
}

@media (min-width: 3840px) {
  :root {
    font-size: 32px;
  }
}