  /* LATO */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MONTSERRAT ALTERNATES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: lato, sans-serif;
  font-size: 16px;
  --nav-bg-1: #efede3;
  --nav-brd-1: #d6ccc2;
  --nav-act-1: #d62828;
  --nav-act-2: #df3838;
  --bg-lig-1: #eae7e0;
  --bg-lig-2: #f1f1f1;
  --flr-sell: #ff5555;
  --flr-buy: #50fa7b;
  --flr-trd: #ff79c6;
  --flr-gb: #8be9fd;
  --input-bg: #dfdfdf;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--bg-lig-1),
    var(--bg-lig-2)
  );
  overflow: overlay;
}
/* 
body :not(.nav-container *) {
  margin: 0 20px;
} */

a {
  color: currentColor;
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 6px;
  padding: .5em 1.5em;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:hover {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background: rgb(214 40 40 / .4);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(214 40 40 / 1);
}

::-webkit-scrollbar-track {
  background: rgb(90 90 60 / .1);
}

::-webkit-scrollbar-corner {
 background: transparent;
}

.nav-container {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw; height: 8.5vh;
  background: var(--nav-bg-1);
  color: var(--nav-act-1);
  outline: 1.5vh solid var(--nav-brd-1);
  box-shadow: 0 16px 9px rgb(180 150 150 / .7);
  padding: 0 80px;
  margin-bottom: 1.5vh;
}

.title-container {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.title {
  font-family: 'montserrat alternates', sans-serif;
  font-size: 3.6em;
  font-weight: 600;
  letter-spacing: -.08rem;
  color: var(--nav-act-1);
  font-style: italic;
  margin-top: -6px;
}

nav > .listing-container {
  display: flex;
  align-items: end;
  gap: 0.5vw;
  padding-bottom: 10px;
  padding-right: 50px;
}

.listings {
  display: flex;
  align-items: end;
  overflow: hidden;
  background: transparent;
  font-size: 1.3em;
  font-weight: 300;
  border-radius: 30px 30px 0 0;
  padding: 10px 1.5em;
  padding-bottom: 10px;
  margin-bottom: -10px;

  transition: all 120ms ease-in;
}

.listings:hover {
  background:var(--nav-brd-1);

  transition: all 60ms ease-in;
}

.nav-img {
  position: relative;
  width: 1.4em; height: 1.4em;  
  transform: translateY(25%);
}

.nav-text {
  display: inline;
  padding-right: 3px;
}

.error-container {
  position: relative;
  display: flex;
  align-items: center; justify-content: center;
  width: 100vw; height: 2.5em;
  background: #d62828;
  /* font-weight: 600; */
  color: #EEE;
  user-select: none;
  z-index: -1;

  animation-name: drop-down-message;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 1.2s;
}

.error-container:hover {
  cursor: pointer;
}

.error-container > p::after {
  content: 'X';
  font-size: 1.2em; font-weight: 300;
  position: absolute;
  margin-left: 8vw;
}

.message-container {
  position: relative;
  display: flex;
  align-items: center; justify-content: center;
  width: 100vw; height: 2.5em;
  background: #d6a828;
  /* font-weight: 600; */
  color: #EEE;
  user-select: none;
  z-index: -1;

  animation-name: drop-down-message;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 1.2s;
}

.message-container:hover {
  cursor: pointer;
}

.message-container > p::after {
  content: 'X';
  font-size: 1.2em; font-weight: 300;
  position: absolute;
  margin-left: 8vw;
}

.hide-drop-down {
  display: none;
}

/* FLAIR ELEMENTS */
.selling-flair::before {
  content: 'Selling';
  width: 15%; height: 10%;
  background: var(--flr-sell);
  font-family: 'montserrat alternates';
  color: #eee;
  padding: .2em 1.2em;
}

/* LISTINGS */
.listings-title p{
  flex-wrap: nowrap;
  font-family: 'montserrat';
  font-size: 2.3em; font-weight: 400;
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid var(--nav-brd-1);
  padding: 0 50px 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.searchbar {
  width: 80vw;
  max-width: 80em;
}

.listing-search {
  width: 100%;
  background: var(--input-bg);
  font-family: 'montserrat alternates';
  font-size: 1em; font-style: italic;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}

.search-btn {
  position: absolute;
  background-color: var(--nav-brd-1);
  font-family: 'montserrat alternates';
  font-size: 1.1em; font-weight: 500; font-style: italic;
  color: var(--nav-bg-1);
  border-radius: 8px !important;
  translate: -100%;
  margin: 10px 0;
}

.listing-display-container {
  display: flex;
  align-content: end;
  background: rgb(80 80 60 / .1);
  border-radius: 0 20px 0 20px;
  padding: 10px 12px;
  padding-bottom: 20px;
  margin: 0 40px;
  margin-bottom: 6px;
}

ul {
  display: none;
  position: absolute;
  color: transparent;
}

.listing-container:not(nav > .listing-container) {
  width: 100vmax;
  min-height: 90vh;
  margin: 0;
}

.listing-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-width: 400px;
  /* max-height: 25em; */
  background: linear-gradient(
    var(--nav-act-1),
    var(--nav-act-2)
  );
  text-align: left;
  padding: 80px;
  z-index: -10;

  transition: all 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.listing-header h1 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 80%; 
  /* max-height: 3.9em; */
  overflow: hidden;
  font-family: montserrat;
  font-size: 4.5em;
  color: var(--bg-lig-2);
  text-overflow: ellipsis;
}

.listing-header h1:hover {
  -webkit-line-clamp: 99;
  max-height: none;
}

.listing-information {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* gap: 10px; */
  background: linear-gradient(
    270deg,
    rgb(100 0 0 / .2),
    rgb(0 0 0 / .0)
  );
  font-family: 'montserrat';
  font-size: 2.5em;
  font-weight: 200; font-style: italic;
  color: var(--bg-lig-2);
  text-align: right;
  padding: 80px;
  padding-left: 240px;
  margin: -80px;
  margin-left: -240px;
}

.listing-information .selling-flair::before {
  position: relative;
  border-radius: 5px 30px 5px 30px;
}

.listing-information .listing-author {
  padding: 15px 0;
  padding-bottom: 0;
}

.timestamp-display {
  display: flex;
  width: 100vw;
  padding: 60px;
}

.timestamp-display div:is(.timestamp-link) {
  position: absolute;
  left: 90%;
}

.timestamp-display h2 {
  flex-wrap: nowrap;
  font-family: 'montserrat';
  font-size: 2.3em; font-weight: 400;
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid var(--nav-brd-1);
  padding: 0 50px 20px;
}

.timestamp-display a {
  font-size: 1.1em; font-weight: 300;
  text-decoration: underline;
  opacity: 20%;
}

.selftext-display {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  padding: 60px;
}

.selftext-display * {
  display: block;
}

.selftext-display p {
  line-height: 1.5em;
  padding: 20px 10px;
}

.selftext-display h2 {
  width: 21%;
  font-family: 'montserrat';
  font-size: 2.3em; font-weight: 400;
  white-space: nowrap;
  border-bottom: 1px solid var(--nav-brd-1);
  padding: 0 50px 20px;
}

.comments-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 60px;
}

.comments-section *:not(.comments-header, button) {
  display: block;
  padding: 20px 10px;
}

.comments-header {
  width: 20%;
  font-family: 'montserrat';
  font-size: 2.4em; font-weight: 400;
  text-align: center;
  border-bottom: 1px solid var(--nav-brd-1);
}

.comments-section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comments-section label {
  font-size: 1.2em; font-weight: 400;
}

.comment-input {
  width: 90vw; height: 20vh;
  max-width: 60%;
  background: var(--bg-lig-2);
  font-family: lato;
  font-size: 1em; font-weight: 400;
  box-shadow: 0 0 12px rgb(90 90 60 / .1);
  border: none;
  padding: 10px 0 0 10px;
}

.message-btn {
  background-color: var(--nav-brd-1);
  font-family: lato;
  font-size: 1em;
  margin-top: 15px;
  box-shadow: 0 0 12px rgb(90 90 60 / .1);
}

/* LOGIN */
.login-container {
  display: flex;
  justify-content: center; align-items: center;
  width: 100vw; height: 100vh;
  background: var(--bg-lig-1);
}

.login-content {
  display: flex;
  justify-content: start; align-items: start;
  flex-direction: column;
  width: 80vw; height: 80vh;
  max-width: 600px;
  background: var(--bg-lig-2);
  border-radius: 80px;
  box-shadow: 0 2px 12px rgb(0 0 0 / .15);
}

.login-content > .title-container {
  display: flex;
  align-items: center; justify-content: center;
  width: 100%; height: 18vh;
  background: var(--nav-bg-1);
  font-size: 20px;
  border-bottom: 16px solid var(--nav-brd-1);
  border-radius: 80px 80px 0 0;
}

.login-content *:not(.user-entry) {
  user-select: none;
}

.login-information {
  display: flex;
  flex-direction: column;
  width: 86%;
  font-size: 1.4em; font-weight: 300;
  margin: 40px 7%;
}

.login-information:has(.login-instruction) p {
  width: 80%;
  margin: 20px 10% 40px;
}

.login-information:has(.signup-instruction) p {
  width: 80%;
  margin: 0 10%;
}

.login-information * {
  margin: 10px 0;
}

.login-information .user-entry:nth-child(2) {
  padding-top: 30px;
}

.login-instruction {
  text-align: center;
  font-size: 1.2em;
  border-bottom: 2px solid var(--nav-brd-1);
  padding-bottom: 20px;
}

.signup-instruction {
  text-align: center;
  font-size: 1.2em;
  border-bottom: 2px solid var(--nav-brd-1);
  margin-top: -20px;
  padding-bottom: 20px;
}

.user-entry {
  padding-bottom: 5px;
}

.user-entry * {
  display: block;
}

.login-input {
  width: 100%; height: 2.5em;
  background: var(--input-bg);
  font-family: 'montserrat alternates';
  font-size: .8em;
  color: #444;
  border: none;
  border-radius: 8px;
  outline: none;
  padding-left: 12px;
  box-shadow: 0 0 0 rgb(214 40 40 / .3);

  transition: 120ms ease-out 60ms;
}

.login-input:is(:hover, :focus-within) {
  box-shadow: 0 0 10px rgb(214 40 40 / .3);
  transition: 120ms ease-out;
}

.login-submit {
  display: flex;
  flex-direction: column;
  justify-content: center; align-items: center;
}

.login-btn {
  background: var(--nav-act-1);
  font-size: .8em;
  color: #EEE;
}

.login-swap-link {
  font-size: .6em;
  color: steelblue;
  text-decoration: underline;
  margin: 0;
}

@keyframes drop-down-message {
  from {transform: translateY(-3em);}
  to {transform: translateY(0);}
}

@media (min-width: 2560px) {
  :root {
    font-size: 24px;
  }
}

@media (min-width: 3840px) {
  :root {
    font-size: 32px;
  }
}