<div class="profile-container">
  
  <%- include('../partials/acct-nav.ejs') %>

  <main class="profile-display">
    <div class="profile-account">
      <p>Comments</p>
    </div>

    <section>
      
    </section>
  </main>
</div>