<div class="profile-container">
  
  <%- include('../partials/acct-nav.ejs') %>

  <main class="profile-display">
    <div class="profile-account">
      <p class="profile-title">Favorites</p>
    </div>

    <% if(favorites) { %>
      <section class="profile-content">
        <% favorites.map(favorite => { %>
          <% favorite.listings.map(listing => { %>
            <p class="content-title"><a href="/listings/<%= listing.page_id %>"><%= listing.title %></a></p>
            <p class="content-author">Posted by - u/<%= listing.author  %></p>
            <div class="content-spacer"></div>
          <% }) %>
        <% }) %>
      </section>
    <% } %>
  </main>
</div>