<div class="login-container">
  <div class="login-content">
    <div class="title-container">
      <a href="/"><p class="title">Global Keebs</p></a>
    </div>
    
    <div class="login-information">
      <form action="/user/login" method="POST">
        <header class="login-header">
          <p class="login-instruction">Login with your Account</p>
          <% if(loginStatus) { %>
            <p class="login-error"><%= loginStatus %></p>
          <% } %>
        </header>
        
        <div class="user-entry">
          <label for="name">Enter your Username or Email</label>
          <input type="string" class="login-input" id="name" name="name">
        </div>

        <div class="user-entry">
          <label for="password">Password</label>
          <input type="password" class="login-input" id="password" name="password">
        </div>
      
        <div class="login-submit">
          <button type="submit" class="btn login-btn">Sign In</button>
          <a href="/user/signup" class="login-swap-link">Create Account</a>
        </div>
      </form>
    </div>
  </div>
</div>