<h1>Global Keebs Login</h1>

<form action="/user" method="POST">
  <label for="name">Enter your username or email</label>
  <input type="string" id="name" name="name">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">

  <button type="submit">Login</button>
</form>

<a href="/user/signup">Create Account</a>