<div class="login-container">
  <div class="login-content">
    <div class="title-container">
      <a href="/"><p class="title">Global Keebs</p></a>
    </div>
    
    <div class="login-information">
      <form action="/user/signup" method="POST">
        <p class="signup-instruction">Enter your information</p>

        <div class="user-entry">
          <label for="name">Username</label>
          <input type="string" class="login-input" id="name" name="name">
          <% if(message) { %>
            <p class="login-error"><%= errorUser %></p>
          <% } %>
        </div>

        <div class="user-entry">
          <label for="email">Email</label>
          <input type="email" class="login-input" id="email" name="email">
        </div>

        <div class="user-entry">
          <label for="password">Password</label>
          <input type="password" class="login-input" id="password" name="password">
          <% if(message) { %>
            <p class="login-error"><%= errorPass %></p>
          <% } %>
        </div>
      
        <div class="login-submit">
          <button type="submit" class="btn login-btn">Create Account</button>
          <a href="/user/login" class="login-swap-link">Already have an account? Login here</a>
        </div>
      </form>
    </div>
  </div>
</div>