<h1>Global Keebs Sign-Up</h1>

<form action="/user" method="POST">

  <button type="Create Account">Login</button>
</form>

<div class="login-container">
  <div class="login-content">
    <div class="title-container">
      <a href="/"><p class="title">Global Keebs</p></a>
    </div>
    
    <div class="login-information">
      <form action="/user/signup" method="POST">
        <p class="login-instruction">Login with your Reddit Account</p>

        <div class="user-entry">
          <label for="name">Username</label>
          <input type="string" class="login-entry" id="name" name="name">
          <% if(message) { %>
            <p class="login-error"><%= errorUser %></p>
          <% } %>
        </div>

        <div class="user-entry">
          <label for="email">Email</label>
          <input type="email" class="login-entry" id="email" name="email">
        </div>


        <div class="user-entry">
          <label for="password">Password</label>
          <input type="password" class="login-entry" id="password" name="password">
          <% if(message) { %>
            <p class="login-error"><%= errorPass %></p>
          <% } %>
        </div>
      
        <div class="login-submit">
          <button type="submit" class="btn login-btn">Sign In</button>
          <a href="/user/signup" class="new-account-link">Create Account</a>
        </div>
      </form>
    </div>
  </div>
</div>