<h1>Global Keebs Sign-Up</h1>

<form action="/user" method="POST">
  <label for="name">Username</label>
  <input type="string" id="name" name="name">
  <label for="email">Email</label>
  <input type="email" id="email" name="email">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">

  <button type="Create Account">Login</button>
</form>