<div class="profile-container">
  
  <%- include('../partials/acct-nav.ejs') %>

  <main class="profile-display">
    <div class="profile-account">
      <p>Account Info</p>
      <a href="/user/edit">Edit Account</a>
    </div>
    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
  </main>
</div>